# Ignore ambiente virtual
yolov8_env/
venv/
.env/
*.env

# Arquivos de cache do Python
__pycache__/
*.py[cod]

# Arquivos de log
*.log

# Modelos treinados e grandes arquivos de pesos
*.pt
*.pth

# Arquivos grandes de bibliotecas
*.dll
*.so
*.dylib
*.lib

# Imagens de teste
*.png
*.jpg
*.jpeg

# Pastas de execução do YOLO
runs/

# Arquivos temporários
*.tmp
*.temp
*.bak
*.swp
